GROQ_API_KEY=
LLM_MODEL_NAME=llama-3.3-70b-versatile

AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

DATA_RAW_DIR=./data/raw
DATA_PROCESSED_DIR=./data/processed
DUCKDB_PATH=./data/processed/cloudintel.duckdb
ACCOUNTS_CONFIG_PATH=./config/accounts.json
